ADMINS=617426792 # Sudo BOT
API_HASH= # Get from my.telegram.org
API_ID= # Get from my.telegram.org
BOT_TOKEN= # Your Bot Token
DATABASE_NAME=MissKatyPyro # Database name
DATABASE_URI=mongodb+srv:// # MongoDB URI
LOG_CHANNEL= # Channel for all logging
SUPPORT_CHAT=YasirPediaChannel # Support chat
USER_SESSION= # Session string for userbot
OPENAI_API= # Your Open AI Api Key
CURRENCY_API= # Get from https://app.exchangerate-api.com/sign-up
