emoji
git+https://github.com/yasirarism/pyrofork
tgcrypto
async_pymongo
pymongo
python-dotenv
requests
beautifulsoup4
aiohttp
chevron
gTTS
regex
apscheduler
pytz
pykeyboard
pySmartDL
psutil
python-dateutil
telegraph
hachoir
Pillow==10.0.0
httpx[http2]
git+https://github.com/yasirarism/vcsi
git+https://github.com/yasirarism/iytdl
deep-translator
telethon
pyrate_limiter
cachetools
cloudscraper
openai
GitPython
aiofiles
uvloop