pyrogram
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
umongo
requests
bs4
aiohttp
imdbpy
gTTS
gpytranslate
apscheduler
pytz
python-arq
psutil
html-telegraph-poster
lottie[all]
lk21
telegraph
hachoir
