pyrogram
tgcrypto
pymongo[srv]==3.12.3
motor[srv]
requests
bs4
aiohttp
heroku3
imdbpy
gTTS
regex
gpytranslate
pyromod
apscheduler
pytz
python-arq
pySmartDL
psutil
html-telegraph-poster
lk21
telegraph
hachoir
